
.gradient-style
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: left;
	border-collapse: collapse;
	border-spacing:0;
}
.gradient-style th
{
	font-weight: normal;
	background: #b9c9fe;
	border: 1px solid black;
	color: #039;
	opacity:1; 
}
.gradient-style td
{
	border-bottom: 1px solid #fff;
	color: #669;
	border: 1px solid black;
	background: #f5f5f5;
	opacity:1;
	padding:1px;
	margin:0px;
}

.gradient-style tfoot tr td
{
	background: #e8edff;
	color: #99c;
	opacity:1; 
}
.gradient-style tbody tr:hover td
{
	background: #d0dafd;
	color: #339;
	opacity:1; 
}

